<?xml version="1.0"?>

<launch>
  	<include file="$(find exp_assignment3)/launch/gmapping.launch"></include> 
	
    <arg name="des_x" default= "-5"/>
    <arg name="des_y" default= "6"/>
    <param name="des_pos_x" value="$(arg des_x)" />
    <param name="des_pos_y" value="$(arg des_y)" />
    

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
<!--   <param name="base_global_planner" value="carrot_planner/CarrotPlanner" /> 
 -->	<param name="base_global_planner" value="global_planner/GlobalPlanner" />
    <rosparam file="$(find exp_assignment3)/param/costmap_common_params.yaml" command="load" ns="global_costmap"/>
    <rosparam file="$(find exp_assignment3)/param/costmap_common_params.yaml" command="load" ns="local_costmap"/>
    <rosparam file="$(find exp_assignment3)/param/local_costmap_params.yaml" command="load"/>
    <rosparam file="$(find exp_assignment3)/param/global_costmap_params.yaml" command="load"/>
    <rosparam file="$(find exp_assignment3)/param/base_local_planner_params.yaml" command="load"/>
    <rosparam file="$(find exp_assignment3)/param/move_base_params.yaml" command="load"/>
  </node>
</launch>
