<?xml version="1.0"?>

<launch>
  	<include file="$(find exp_assignment3)/launch/simulation.launch"></include> 

  	<include file="$(find exp_assignment3)/launch/move_base.launch"></include> 
  	<include file="$(find explore_lite)/launch/explore.launch"></include> 

    
    

  
 <node name="robot_following" pkg="exp_assignment3" type="robot_following3.py" output="screen"  />

<node name="smach" pkg="smach_viewer" type="smach_viewer.py" />
<node name="state_machine" pkg="exp_assignment3" type="state_machine_miro_ext.py" output="screen" />
 
</launch>
